* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header nav a {
    background-color: aliceblue;
    border: 1px solid black;
    color: black;
    padding: 0 0.4vw;
    text-decoration: none;
}

main div button {
    border: 0;
    font-size: 4vh;
}
main div #flexCheck {border: 1px solid black;}

main div #search {
    border-radius: 25px;
    padding-left: 1vw;
    width: 25vw;
}

main .card {
    border: 1px solid aquamarine;
    height: 55vh;
    width: 18vw
}

main .card img {
    height: 33vh;
    width: 100%;
}

main .card .card-text {
    overflow-wrap: normal;
    height: 5vh;
}

main .card a {height: 4vh;}

footer .redes a {
    border: 0;
    font-size: 4vh;
}

main table th {font-size: 2.8vh;}

main table td {width: 33rem;}

main .detail {
    border: 1px solid black;
    height: 80vh;
}

main form fieldset {
    direction: column;
}

main #detail {
    border: 1px solid aquamarine;
    border-radius: 25px;
    height: auto;
    justify-content: center;
    margin: 8% 10%;
    padding: 1%;
    width: 80%;
}

main #detail img {
    width: 38rem;
}